engine-strict=true
legacy-peer-deps=true
strict-ssl=false
package-lock=true
prefer-offline=true
prefer-fetch=true
fetch-retries=5
fetch-retry-mintimeout=60000
fetch-retry-maxtimeout=300000
ci=false
unsafe-perm=true
auto-install-peers=true
prefer-dedupe=true
prefer-offline=true
prefer-online=false
progress=false
loglevel=error
